<header>
    <h1>My Blog</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">Blog</a></li>
            <!-- Add more navigation links here -->
        </ul>
    </nav>
</header>