<!DOCTYPE html>
<html>
<head>
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{> header}}

    {{{body}}}

    {{> footer}}

    <script src="/js/scripts.js"></script>
</body>
</html>
