{{!-- Login Page --}}
<div>
    <h1>Login page</h1>
    <div class="container">

        <form id="login-form">

            {{!-- get user email by id --}}
            <div class="form-group">
                <label for="email-login">Email:</label>
                <input class="form-input" type="text" id="email-login" />
            </div>

            {{!-- get user password by id --}}
            <div class="form-group">
                <label for="password-login">Password:</label>
                <input class="form-input" type="password" id="password-login" />
            </div>

            {{!-- submit and send info --}}
            <div class="form-group">
                <button class="submit-btn" class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>

    </div>
    <div class="col-md-6">
    </div>

</div>